body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin: 20px auto;
    max-width: 400px;
}

.materia {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

.conflito {
    background-color: red !important;
    color: white;
}
